<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round 3 Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard3.css">
</head>
<body>
    <div class="container">
        <h1>Congratulations on advancing to Round 3!</h1>
        <h3>We wish you the best of luck!</h3>
        <div class="team-name">{{ team_name }}</div>
        <!-- <a class="start-contest" href="/code3">Start Contest</a> -->
        
        <div class="instructions">
            <h3>Instructions:</h3>
            <p>1. You will have a limited time to complete the contest.</p>
            <p>2. Make sure to read each question carefully and provide your solutions accordingly.</p>
            <p>3. Once you start the contest, make sure to complete it without refreshing the page.</p>
            <p>4. Click the "Start Contest" buttonto begin.</p>
        </div>

        <a class="start-contest" href="/code3">Start Contest</a>
        
        
        <form class="logout-form" action="/logout3" method="POST">
            <button class="logout-btn" type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
