<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Competition</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div><h1 >Welcome to <span style="font-family: 'Horror Font', cursive;">Abyudaya 8.0 Coding Event!<p>OTAKU CODING</span></h1></div>
    <form action="/rounds" method="get">
        <input type="submit" value="Enter the competition">
    </form>
</body>
</html>
