<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Round 2</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body style="background-image: url('../static/uiimages/rever.jpg');" >
    <div class="container">
        <h1>Login - Round 2</h1>
        <form action="/login2" method="POST">
            <input type="text" name="team_name" placeholder="Team Name" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="submit" value="Login">
        </form>
        {% if message %}
            <div class="error">{{ message }}</div>
        {% endif %}
    </div>
</body>
</html>
