<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Debugging Event</title>
    <link rel="stylesheet" href="../static/dashboard1.css">
</head>
<body>
    <div class="container">
        <form  action="/logout1" method="POST">
            <input class="logout-button" type="submit" value="Logout">
        </form>

        <h1>Welcome to Round 1 Debugging</h1>
        <div class="team-name">{{ team_name }}</div>
        
        
        
        <div class="instructions">
            <h2>Instructions:</h2>
            <p>Welcome to the Debugging round! In this round, you will be presented with various challenges that require you to analyze and understand existing systems, applications, or code.</p>
            <p>Your task is to analyze the code, understand their functionality, and identify the bug, line of error and give the corrected code for the line with error</p>
            <p>Based on the identification and solution marks will be allotted</p>
            <p>Question  might contain more than one error</p>
            <input type="checkbox" id="confirm" onchange="toggleStartButton()"> <!-- Checkbox to confirm understanding -->
            <label for="confirm">I confirm that I have read and understood the instructions</label>
            

        </div>

        <form action="/debug">
            <input class="start-contest" type="submit" value="Start Debugging">
        </form>
    </div>
    <script>
        function toggleStartButton() {
            const startButton = document.querySelector('.start-contest');
            const confirmCheckbox = document.querySelector('#confirm');
            startButton.style.display = confirmCheckbox.checked ? 'block' : 'none';
        }
        </script>
</body>
</html>
